<ion-view>
  <ion-nav-title style='color:#444'>+ COMIC</ion-nav-title>

  <ion-content padding="true" style='background: white' >
  	

  <div  style="margin-top:13px"><label style="    color: #444;
    font-size: 17px !important;">Nombre *</label></div>
                        <input    ng-model='publicacion.nombre' style='    width: 100%;
    background-color: transparent;
    border-bottom: solid 2px #444; color:#444' placeholder='' type="text" class="inputRegistrar md-input" required="required">

                      <div style="margin-top:13px"><label style="    color: #444;
    font-size: 17px !important;">Descripcion</label></div>

    				<textarea ng-model='publicacion.descripcion' style="    width: 100%;height: 100px;
    background-color: transparent;
    border: solid 2px #444;  resize: none;color:#444">
    					
    				</textarea>
                                    <div style="margin-top:13px"><label style="    color: #444;
    font-size: 17px !important;">Estado </label></div>
                        <input  ng-model='publicacion.estado' placeholder='' style="    width: 100%;
    background-color: transparent;
    border-bottom: solid 2px #444; color:#444" type="text" class="inputRegistrar md-input" required="required">
         

                      <div style="margin-top:13px"><label style="    color: #444;
    font-size: 17px !important;">Fecha de publicacion </label></div>
                        <input ng-model='publicacion.fechaPublicacion' placeholder='' style="    width: 100%;
    background-color: transparent;
    border-bottom: solid 2px #444; color:#444" type="text" class="inputRegistrar md-input" required="required">


                  <div style="margin-top:13px"><label style="    color: #444;
    font-size: 17px !important;">Precio </label></div>
                        <input  placeholder='' style="    width: 100%;
    background-color: transparent;
    border-bottom: solid 2px #444; color:#444" type="text" class="inputRegistrar md-input" required="required" ng-model='publicacion.precio' >

    <button ng-click='getImage()' class="button" style="   font-family: backIssuesReg !important; margin-top: 35px;">
  <i class="icon ion-image" ></i> Agregar imagen
</button>


<img style="width: 179px;" ng-src="{{publicacion.imagen}}?{{consecutivo}}">


<div style="text-align:center; margin:30px">
    <button ng-click='subirComic(publicacion)' class="button" style="   font-family: backIssuesReg !important;">
  Publicar comic
</button>
</div>

  </ion-content>




</ion-view>
