<ion-view hide-back-button='true' hide-nav-bar="true">


<!-- 
<search-bar ng-model="searchKey"></search-bar>-->





  <ion-content padding="true" style='background-color: black'>

 <div style="    text-align: center;
    font-size: 33px;
    margin-top: 10px;
    color: gray;">
   {{ultimaPalabra}}
 </div>



    <div>

     



          <div style='    text-align: center;
        margin-top: 50%;
    color: lightgray;
    opacity: 1;'  >
    <img ng-src="img/voice.png"  style="opacity:0.5">
    <p style="    color: gray;
    font-size: 18px;">Esperando...</p>
   </div>



    </div>
<div style="width:100%; text-align:center">


    <button style="    color: gray;
    background: black;
    border: solid 1px gray;
    width: 85px;
    padding-top: 5px;
    padding-bottom: 5px;" ng-click='boto2()'>TEST</button>
</div>

  </ion-content>
<!--   <ion-footer-bar class="bar-stable">
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="map()">
        <i class="icon ion-map"></i> Maps
      </div>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="report()">
        Report
        <i class="icon ion-android-alert"></i>
      </div>
    </div>
  </ion-footer-bar> -->
</ion-view>





