<ion-view hide-back-button='true'>


<!-- 
<search-bar ng-model="searchKey"></search-bar>-->



  <ion-nav-title  style='    color: #333;
    font-family: badabb;
    font-size: 34px;'>MagicMind</ion-nav-title>



  <ion-content padding="true" style='background-color: white'>

    <ion-refresher class="spinner-balanced" on-refresh="reload()"></ion-refresher>

    <div class="text-center">
      <ion-spinner class="spinner-balanced" ng-show="loading"></ion-spinner>
    </div>


    <div ng-show="!loading">

     



          <div style='    text-align: center;
    margin-top: 34px;
    color: lightgray;
    opacity: 1;'  >
    <img ng-src="img/voice.png"  >
    <p style="    color: #632e73;
    font-size: 18px;">Esperando...</p>
   </div>



    </div>
<div style="width:100%; text-align:center">
    <button style="    color: red;
    background: white;
    border: solid 1px red;
    width: 85px;
    padding-top: 5px;
    padding-bottom: 5px;" ng-click='boto()'>TEST</button>

    <button style="    color: red;
    background: white;
    border: solid 1px red;
    width: 85px;
    padding-top: 5px;
    padding-bottom: 5px;" ng-click='boto2()'>TEST2</button>
</div>

  </ion-content>
<!--   <ion-footer-bar class="bar-stable">
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="map()">
        <i class="icon ion-map"></i> Maps
      </div>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="report()">
        Report
        <i class="icon ion-android-alert"></i>
      </div>
    </div>
  </ion-footer-bar> -->
</ion-view>





