<ion-view>
  <ion-nav-title style='color:#444'>Mensajes</ion-nav-title>

  <ion-content padding="true" style='background: white' >
  	

  	<div class="list">



    <a  ng-repeat="chat in chats" class="item item-avatar"  ng-class="{'noleido': chat.sinLeer>0}" style="border: solid #444;margin-top: 10px;" ng-click='goChat(chat.idUsuario)'>
      <img src="img/adam.jpg">
      <h2 style="color:#444; font-family: backIssuesReg !important;">{{chat.nombre}}</h2>
      <p>{{chat.sinLeer}} mensajes sin leer</p>
    </a>





</div>


  </ion-content>




</ion-view>
