<ion-view>
  <ion-nav-title style='color:#444'>Mensajes</ion-nav-title>

  <ion-content padding="true" style='background: white' >
  	

  	<div class="list">

    <a ui-sref='chat' class="item item-avatar" href="#" style="border: solid #444;margin-top: 10px;background-color:lightgray">
      <img src="img/adam.jpg">
      <h2 style="color:#444; font-family: backIssuesReg !important;">Pedro Bonilla</h2>
      <p>2 mensajes sin leer</p>
    </a>

     <a ui-sref='chat' class="item item-avatar" href="#" style="border: solid #444;margin-top: 10px;">
      <img src="img/ben.png">
      <h2 style="color:#444; font-family: backIssuesReg !important;" >Carles Romero</h2>
      <p>12-09-2017</p>
    </a>
    <a ui-sref='chat' class="item item-avatar" href="#" style="border: solid #444;margin-top: 10px;">
      <img src="img/adam.jpg">
      <h2 style="color:#444; font-family: backIssuesReg !important;" >Mario Grecia</h2>
      <p>12-09-2017</p>
    </a>


</div>


  </ion-content>




</ion-view>
