<ion-view>
  <ion-nav-title style='color:#444'>Perfil</ion-nav-title>

  <ion-content padding="true" style='    background-size: cover;background-image: url(img/bg-black.png);' >
  	  <div style="    text-align: center;
    background-image: url(img/fondot2.png);
    color: #444;
    margin-bottom: 14px;
    margin-top: 5px;
    padding-bottom: 16px;background-size: cover;
    background-color:white;border-radius: 7px;">
	  	<img src="img/ben.png" class="fotoPerfil"><br>
	  	<span>Danny Riveras</span><br>
	  	<span style="    color: lightslategrey;">Usuario desde enero del 2016</span>
	  </div>
	  <div>	  	
		<div class="detailProfile">
			<span>0</span><br>
			<span>Vendidos</span>
		</div>
		<div class="detailProfile">
			<span>2 </span><br>
			<span>Publicados</span>
		</div>
		<div class="detailProfile">
			<span>4<i class="ion-star"></i></span><br>
			<span>valoracion</span>
		</div>
	  </div>

  	<div style="margin-top:20px">
  		<span>Publicados</span>	

  		<div class="list">

		<a class="item item-avatar" href="#" style="    background: transparent !important; margin-top: 20px;border: dashed 1px lemonchiffon;background: transparent !important;    margin-top: 20px;">
		<img src="img/portada1.jpg">
		<h2 style="  font-family: backIssuesReg !important;">Wolverine: Enemigo del Estado</h2>
		<p>En venta | $15</p>
		</a>
		<a class="item item-avatar" href="#" style="    background: transparent !important; margin-top: 20px;border: dashed 1px lemonchiffon;background: transparent !important;    margin-top: 20px;">
		<img src="img/portada5.jpeg">
		<h2 style="  font-family: backIssuesReg !important;">Star Wars (Comic) Oct. 1977 No. 4</h2>
		<p>Vendido</p>
		</a>
   
		<a class="item item-avatar" href="#" style="    background: transparent !important; margin-top: 20px;border: dashed 1px lemonchiffon;background: transparent !important;    margin-top: 20px;">
		<img src="img/portada2.jpeg">
		<h2 style="  font-family: backIssuesReg !important;">SUPERMAN * TEEN TITANS </h2>
		<p>Vendido</p>
		</a>
</div>


  	</div>


<div style="width:100%; height:48px"></div>
  </ion-content>

  <div style="    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;">

  <button style='    background-color: white;
    color: #333;
    width: 100%;
    font-family: backIssuesReg !important;' class="button " ui-sref='chat'>Chat</button>
</div>



</ion-view>
